.b-page{
	font: 100 28px/38px "Lucida Grande", "Lucida Grande Unicode", Helvetica, Arial, sans-serif;
	color: #555;
	text-align: center;
}

.b-article{
	padding-top: 10%;
}

.b-article-getlogo{
	max-width: 100%;
}

.b-article-text{
	margin: 0 auto;
	font-size: 26px;
	line-height: 36px;
	color: #444;
}

.b-footer{
	position: absolute;
	bottom: 10px;
	width:100%;

}

.b-footer-text{
	text-align: center;
	font-size: 12px/24px;
}