

.b-page{
	font-family: 'Open Sans', sans-serif;
	color: #555;
	text-align: center;
}

.b-article{
	padding-top: 10%;
}

.b-article-getlogo{
	max-width: 100%;
}

.b-article-text{
	margin: 0 auto;
	font-size: 26px;
	line-height: 36px;
	color: #444;
	font-weight: 300;
}

.b-content{
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	padding: 1.3em;
}

.b-content-sect{
	display: inline-block;
	width: 100%;
}

.b-footer{
	position: absolute;
	bottom: 10px;
	width:100%;

}

.b-footer-text{
	text-align: center;
	font-size: 12px/24px;
	font-weight: 400;
}